html,
body {
	margin: 0;
	padding: 0;
	min-width: 1200px;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

.container {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	color: #000000;
	background-color: #ffffff;
	box-shadow: 0px 5px 15px 0px rgba(0,1,1,0.2);
}

.inner-container {
	width: 1055px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

		/* HEADER (NAVIGATION) */

.main-navigation {
	line-height: 26px;
	color: #000000;
}

.main-navigation ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 73px;
	padding-left: 73px;
	min-height: 56px;
	background-color: #ffffff;
}

.main-logo {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%);
}

.main-navigation li {
	width: 240px;
}

.main-navigation li:nth-child(4n+2) {
	margin-right: 94px;
}

.main-navigation li:nth-child(4n+1),
.main-navigation li:nth-child(4n+2) {
	text-align: left;
}

.main-navigation li:nth-child(4n+3),
.main-navigation li:nth-child(4n) {
	text-align: right;
}

.main-navigation a {
	color: #000000;
	font-weight: bold;
}

.inner-navigation ul {
	position: static;
}

.inner-navigation a.active {
	color: #766357;
}

.main-navigation a[href]:hover,
.main-navigation a[href]:focus {
	color: #81b3d2;
}

.main-navigation a[href]:active {
	color: rgba(0,0,0,0.3);
}

		/*  PROMO */

.promo-picture {
	height: 508px;
	background:
		url("../img/promo-bottom.png") left 451px no-repeat,
		#47759c url("../img/promo-background.jpg") 0 -56px no-repeat;
}

.promo-description {
	box-sizing: border-box;
	width: 500px;
	min-height: 216px;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 50px;
	line-height: 26px;
	text-align: center;
	background-color: #ffffff;
}


.promo-description h3 {
	margin: 0;
	margin-bottom: 27px;
	font-size: 21px;
	font-weight: bold;
}

.promo-description p {
	margin: 0;
}

		/* ADVANTAGES, RECOMENDATIONS */

.advantage-photo {
	display: flex;
	background-color: #81b3d2;
}

.advantage-photo-right,
.advantage-photo-left {
	margin: 0;
}

.advantage-photo .advantage {
	box-sizing: border-box;
	width: 400px;
	min-height: 256px;
	padding-right: 42px;
	padding-left: 42px;
	line-height: 21px;
	color: #ffffff;
	text-align: center;
}

.advantage h3 {
	margin: 0;
	margin-top: 47px;
	margin-bottom: 24px;
	padding-left: 70px;
	padding-right: 70px;
	font-size: 21px;
	font-weight: bold;
}

.advantage-number {
	margin-bottom: 20px;
}

.advantage-number::before,
.advantage-number::after {
	content: "—";
	margin-right: 4px;
	margin-left: 4px;
	vertical-align: middle;
}
.advantage-photo figure {
	margin: 0;
}

.photo img {
	display: inline-block;
	vertical-align: top;
}

.recomendations-list {
	padding-top: 60px;
	padding-bottom: 81px;
	line-height: 21px;
	text-align: center;
}

.recomendations-list h3 {
	margin: 0;
	margin-top: 101px;
	margin-bottom: 25px;
	font-size: 21px;
	font-weight: bold;
}

.icon-housing {
	background-image: url("../img/housing-icon.svg");
	background-repeat: no-repeat;
	background-position: 50% 0;
}

.icon-food {
	background-image: url("../img/food-icon.svg");
	background-repeat: no-repeat;
	background-position: 50% 0;
}

.icon-souvenirs {
	background-image: url("../img/souvenirs-icon.svg");
	background-repeat: no-repeat;
	background-position: 50% 0;
}

.recomendations-list ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.recomendations-list-item {
	width: 400px;
	padding-right: 50px ;
	padding-left: 50px;
}

.recomendations-list-item p {
	margin: 0;
}

.advantage-list {
	line-height: 21px;
	text-align: center;
	color: #000000;
	background-color: #eeeeee;
	display: flex;
}

.advantage-list .advantage {
	box-sizing: border-box;
	width: 400px;
	padding-bottom: 45px;
	padding-left: 55px;
	padding-right: 55px;
}

		/* HOTEL SEARCH */

.hotel-search {
	width: 570px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.hotel-search-text {
	width: 460px;
	margin: 0 auto;
}

.hotel-search h3 {
	margin: 0;
	margin-top: 50px;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
}

.hotel-search p {
	line-height: 24px;
	margin-bottom: 46px;
}

.btn {
	font: inherit;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	font-family: "PT Sans", Arial, sans-serif;
	text-align: center;
	color: #ffffff;
	background-color: #766357;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
}

.btn:hover,
.btn:focus {
	background-color: #604e43;
	outline: none;
}

.btn:active {
	background-color: #503e33;
	color: rgba(255,255,255,0.3);
	outline: none;
}

.btn-hotel-search {
	width: 570px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.hotel-search .btn:active {
	padding-right: 0;
	padding-left: 0;
}

.hotel-form-hide {
	transform: translateX(-3000px);
}

		/* HOTEL SEARCH FORM */

.hotel-search-form {
	box-sizing: border-box;
	position: absolute;
	top: 241px;
	left: 0;
	z-index: 1;
	width: 570px;
	margin: 0 auto;
	padding-left: 56px;
	padding-right: 56px;
	padding-top: 55px;
	padding-bottom: 55px;
	background-color: #ffffff;
	color: #000000;
	transition: 0.5s;
}

.hotel-search-form p {
	margin: 0;
	margin-bottom: 30px;
	line-height: 26px;
	font-weight: bold;
}

.hotel-search-form input {
	box-sizing: border-box;
	font: inherit;
	text-transform: uppercase;
	color: #000000;
	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;
}

.hotel-search-form input:hover {
	background-color: #ebebeb;
	border: 2px solid #ebebeb;
}

.hotel-search-form input:focus {
	background-color: #ffffff;
	outline: none;
	border: 2px solid #ebebeb;
}

.date-checkin,
.date-checkout {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.date-checkin input,
.date-checkout input {
	box-sizing: border-box;
	width: 346px;
	height: 38px;
	padding-right: 12px;
	padding-left: 12px;
}

.hotel-search-form input::placeholder {
	color: #000000;
	opacity: 1;
}

.date-checkin,
.date-checkout {
	position: relative;
}

.date-checkin button,
.date-checkout button {
	position: absolute;
	right: 3px;
	top: 6px;
	border: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}

.calendar-icon path,
.calendar-icon path {
	fill: #a9a9a9;
}

.numbers {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.number-adults,
.number-children {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.number-adults label {
	padding-right: 40px;
}

.number-children label {
	padding-right: 26px;
}

.number-adults input,
.number-children input {
	box-sizing: border-box;
	width: 38px;
	height: 38px;
	padding-right: 12px;
	padding-left: 12px;
}

.btn-number {
	box-sizing: border-box;
	width: 38px;
	height: 38px;
	padding-right: 12px;
	padding-left: 12px;
	font: inherit;
	font-weight: bold;
	color: #a9a9a9;
	background-color: #f2f2f2;
	border: none;
	cursor: pointer;
}

.hotel-search-form .btn-number:hover,
.hotel-search-form .btn-number:focus {
	color: #000000;
	outline: none;
}

.hotel-search-form .btn-number:active {
	color: #81b3d2;
}

.btn-form-search {
	margin: 0 auto;
	margin-top: 23px;
	width: 458px;
	min-height: 58px;
	background-color: #81b3d2;
}

.btn-form-search:hover,
.btn-form-search:focus {
	background-color: #669ec0;
	outline: none;
}

.btn-form-search:active {
	color: rgba(255,255,255,0.3);
	background-color: #5496bd;
}

.btn-calendar:hover path,
.btn-calendar:focus path {
	fill: #000000;
	outline: none;
}

.btn-calendar:active path {
	fill: #81b3d2;
}

		/* MAP */

.map iframe {
	display: inline-block;
	vertical-align: top;
}

.map {
	background: #c7dfab url("../img/map.jpg") center no-repeat;
}

		/* HOTELS PAGE */
		/* FILTERS  */

.filters {
	box-sizing: border-box;
	min-height: 217px;
	padding-top: 27px;
	padding-bottom: 27px;
	color: #ffffff;
	background-color: #555c64;
	background:
		url("../img/filter-background.jpg") 0 -56px no-repeat;
}

.filters-form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.filters-form fieldset {
	margin: 0;
	padding: 0;
	border: none;
	flex-shrink: 0;
}

.filters-form ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.filter-option {
	margin-bottom: 25px;
}

.filter-option:last-child {
	margin-bottom: 0;
}

.filter-label {
	position: relative;
	padding-left: 40px;
	padding-top: 4px;
	padding-bottom: 4px;
	cursor: pointer;
}

.filter-label::before {
	content: "";
	position: absolute;
	top: 3px;
	left: 0px;
	width: 23px;
	height: 23px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.filter-input:active + .filter-label::before {
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-on.svg");
}

.filter-input:checked +.filter-label::before {
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-on.svg");
}

.filter-input:checked::active + .filter-label::before {
	width: 23px;
	height: 23px;
	background-image: url("../img/checkbox-off.svg");
}

.filter-input:disabled + .filter-label::before {
	width: 23px;
	height: 23px;
	background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-input:checked:disabled + .filter-label::before {
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-on-disabled.svg");
}

.filters-form legend {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
	font-size: 16px;
	font-weight: bold;
}

.filters-infrastructure {
	width: 254px;
}

.filters-form .filters-housing-type {
	flex-grow: 1;
}

.filer-and-button {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}

.filters-range {
	width: 318px;
}

.filters-range legend {
	margin-bottom: 11px;
}

.price-controls {
	position: relative;
	margin-bottom: 20px;
	height: 31px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	font-size: 0;
}

.price-controls::after {
	content:"";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2px;
	height: 22px;
	background-color: #ffffff;
}

.price-controls label {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 31px;
	cursor: pointer;
}

.price-controls .min-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls .max-price {
	width: 90px;
	padding-left: 56px;
}

.price-controls input {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	width: 50px;
	min-height: 30px;
	font: inherit;
	color: inherit;
	background: none;
	border: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255,255,255,0.3);
}

.range-controls .bar {
	height: 2px;
	width: 80%;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.range-toggle:hover {
	top: -10px;
	border: 9px solid #ffffff;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-show {
	display: block;
	margin: 0 auto;
	padding: 6px 34px;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	background-color: transparent;
	border: 2px solid #ffffff;
	font-weight: normal;
	border-radius: 2px;
	cursor: pointer;
}

.btn-show:hover,
.btn-show:focus {
	color: #000000;
	background-color: #ffffff;
	outline: none;
}

		/* FOUND */

.found-sorting .inner-container {
	display: flex;
	min-height: 86px;
	align-items: center;
	justify-content: space-between;
}

.found-sorting b {
	width: 150px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.found-sorting p,
.found-sorting-item {
	font-size: 12px;
	line-height: 18px;
}

.found-sorting p {
	margin-right: 40px;
	margin-left: 13px;
}

.found-sorting ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.found-sorting-list {
	flex-grow: 1;
}

.found-sorting-item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
}

.found-sorting-item:last-child {
	margin-right: 0px;
}

.found-sorting-item a {
	color: rgba(0,0,0,0.3);
	border-bottom: 1.2px dotted #81b3d2;
}

.found-sorting-item a[href]:hover,
.found-sorting-item a[href]:focus {
	color: #81b3d2;
	border-bottom: 1.2px dotted #81b3d2;
}

.found-sorting-item a[href]:active {
	color: #000000;
	border-bottom: none;
}

.found-sorting-item .active {
	color: #81b3d2;
	border-bottom: none;
	outline: none;
}

.hotels-buttons {
	display: flex;
	width: 35px;
	flex-direction: row;
	justify-content: space-between;
}

.btn-sort-up {
	width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-bottom: 11px solid #cacaca;
	display: inline-block;
	vertical-align: middle;
}

.btn-sort-down {
	width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-top: 11px solid #cacaca;
	display: inline-block;
	vertical-align: middle;
}

.btn-sort-down.active {
	border-top: 11px solid #81b3d2;
}

.btn-sort-up.active {
	border-bottom: 11px solid #81b3d2;
}

.btn-sort-up[href]:hover,
.btn-sort-up[href]:focus {
	border-bottom: 11px solid #000000;
}

.btn-sort-up[href]:active {
	border-bottom: 11px solid #81b3d2;
}

.btn-sort-down[href]:hover,
.btn-sort-down[href]:focus {
	border-top: 11px solid #000000;
}

.btn-sort-down[href]:active {
	border-top: 11px solid #81b3d2;
}

		/* HOTELS LIST */

.hotel-summary {
	padding: 30px;
	border-top: 1px solid #e5e5e5;
}

.hotel-summary .inner-container {
	display: flex;
	justify-content: space-between;
}
.hotel-summary:last-child {
	border-bottom: 1px solid #e5e5ee;
}

.hotel-summary .hotel-link {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.hotel-summary .hotel-link:hover,
.hotel-summary .hotel-link:focus {
	color: #81b3d2;
}

.hotel-summary .hotel-link:active {
	color: rgba(0,0,0,0.3);
}

.hotel-summary .hotel-description {
	flex-grow: 1;
	margin-left: 30px;
}

.hotel-summary h3 {
	position: relative;
	top: -4px;
	margin-top: 0;
	margin-bottom: 0;
}

.hotel-summary b {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	margin-top: 2px;
	margin-bottom: 17px;
	font-weight: normal;
}

.hotel-description .housing-type {
	min-width: 110px;
	margin-right: 5px;
}

.btn-details,
.btn-book {
	padding: 4px 16px;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
}

.btn-details {
	margin-right: 5px;
	background-color: #81b3d2;
}

.btn-details:hover,
.btn-details:focus {
	background-color: #669ec0;
	outline: none;
}

.btn-details:active {
	color: rgba(255,255,255,0.3);
	background-color: #5496bd;
}

.rating-and-stars {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.rating-stars {
	width: 87px;
	height: 18px;
	background: url("../img/star.svg") left space;
}

.stars-3 {
	width: 65px;
	height: 18px;
}

.stars-2 {
	width: 40px;
	height: 18px;
}

.hotel-rating-number {
	padding: 3px 13px;
	color: #666666;
	background-color: #f2f2f2;
}

		/*FOOTERS*/

.main-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: 120px;
	line-height: 26px;
	background-color: rgba(255,255,255,0.9);
}

.footer-contacts {
	box-sizing: border-box;
	width: 240px;
	margin-left: 73px;
	padding-left: 15px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
}

.footer-social {
	width: 150px;
}

.footer-social ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.social-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}

.social-btn:hover,
.social-btn:focus {
	background-color: #669ec0;
}

.social-btn:active path{
	background-color: #5496bd;
	fill: rgba(136,182,209,0.3);
}

.footer-copyright {
	display: flex;
	align-items: center;
	margin-right: 73px;
	width: 240px;
	text-align: center;
}

.footer-copyright span {
	margin-right: 6px;
	margin-left: 15px;
}

.footer-logo:hover path,
.footer-logo:focus path {
	fill: #81b3d2;
}

.footer-logo:active path {
	fill: #bdbbbc;
}

.inner-footer {
	position: static;
	background-color: #ffffff;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
	.main-navigation li {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.footer-social {
		padding-top: 36px;
		padding-bottom: 36px;
	}

	.found-sorting b {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.date-checkin label {
		padding-right: 20px;
	}

	.date-checkout label {
		padding-right: 17px;
	}
}

















