html, body {
	margin: 0;
	padding: 0;

	min-width: 1200px;
	font-size: 14px;
	line-height: 21px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: normal;
	background-color: #f2f2f2;
	color: #000000;
	text-transform: uppercase;
}

.container {
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	color: #000000;
	position: relative;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.inner-container {
	width: 1055px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}


	/* HEADER (NAVIGATION) */



.main-navigation {
	line-height: 26px;
	color: #000000;
}

.main-navigation ul {
	background-color: #ffffff;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-right: 73px;
	padding-left: 73px;
	min-height: 56px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

}

.main-logo {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%);
}


.main-navigation li {
	width: 240px;
}

.main-navigation li:nth-child(2) {
	margin-right: 94px;
}

.main-navigation .text-left {
	text-align: left;
}

.main-navigation .text-right {
	text-align: right;
}

.main-navigation a {
	color: #000000;
}

.inner-navigation ul {
	position: static;
}

.inner-navigation a.active {
	color: #766357;
}

.main-navigation a[href]:hover,
.main-navigation a[href]:focus {
	color: #81b3d2;
}

.main-navigation a[href]:active {
	color: rgba(0,0,0,0.3);
}




	/*  PROMO */

.promo-picture {
	height: 564px;
	background:
		url(../img/promo-bottom.png) left 507px no-repeat,
		url(../img/promo-background.jpg) 0 -56px no-repeat;
}

.promo-description {
	background-color: #ffffff;
	box-sizing: border-box;
	min-height: 216px;
	line-height: 26px;
	text-align: center;
	padding-top: 62px;
	padding-bottom: 54px;
}

.promo-description h3 {
	font-size: 21px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 32px;
	padding-right: 380px;
	padding-left: 380px;
}

.promo-description p {
	padding-left: 355px;
	padding-right: 355px;
}


	/* ADVANTAGES, RECOMENDATIONS */

.advantage-photo-right,
.advantage-photo-left {
	margin: 0;
}

.advantage-top {
	display: flex;
}

.advantage-text-left,
.advantage-text-right {
	min-height: 256px;
	width: 400px;
	box-sizing: border-box;
	padding-right: 42px;
	padding-left: 42px;
}

.advantage-text-left h3,
.advantage-text-right h3 {
	margin: 0;
	margin-top: 48px;
	margin-bottom: 25px;
	font-size: 21px;
	font-weight: bold;

}

.advantage-bottom .advantage-number,
.advantage-top .advantage-number {
	margin-bottom: 25px;
}

.advantage-photo-right img,
.advantage-photo-left img {
	display: inline-block;
	vertical-align: top;
}

.advantage-bottom {
	display: flex;
}

.advantage-text-left,
.advantage-text-right {
	line-height: 21px;
	color: #ffffff;
	background-color: #81b3d2;
	text-align: center;
}

.recomendations-list {
	line-height: 21px;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 85px;
}

.recomendations-list h3 {
	font-size: 21px;
	font-weight: bold;
	margin: 0;
	margin-top: 92px;
	margin-bottom: 28px;
	position: relative;
}

.recomendations-list h3::before {
	content: "";
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
	width: 75px;
	height: 76px;
	margin-bottom: 26px;
}

.icon-housing h3::before {
	background-image: url("../img/housing-icon.svg");
	background-repeat: no-repeat;
	background-position: 50% 0;
}

.icon-food h3::before {
	background-image: url("../img/food-icon.svg");
	background-repeat: no-repeat;
	background-position: 50% 0;
}

.icon-souvenirs h3::before {
	background-image: url("../img/souvenirs-icon.svg");
	background-repeat: no-repeat;
	background-position: 50% 0;
}

.recomendations-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.recomendations-list-item {
	width: 400px;
	padding-right: 62px ;
	padding-left: 58px;
}




.advantage-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.advantage-list {
	line-height: 21px;
	text-align: center;
	color: #000000;
	background-color: #eeeeee;
}

.advantage-list-item {
	box-sizing: border-box;
	width: 400px;
	padding-bottom: 62px;
	padding-left: 55px;
	padding-right: 55px;
}

.advantage-list-item h3 {
	font-size: 21px;
	font-weight: bold;
	margin: 0;
	margin-top: 50px;
	margin-bottom: 25px;
}

.advantage-list-item .advantage-number {
	margin-bottom: 25px;
}

.advantage-number::before,
.advantage-number::after {
	content: "—";
	margin-right: 4px;
	margin-left: 4px;
	vertical-align: middle;
}



	/* HOTEL SEARCH */


.hotel-search {
	width: 570px;
	margin: 0 auto;
	text-align: center;
}

.hotel-search h3 {
	margin: 0;
	margin-top: 55px;
	margin-bottom: 31px;
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
}

.hotel-search p {
	line-height: 24px;
	margin-bottom: 50px;
}

.btn {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;

	text-align: center;
	color: #ffffff;
	background-color: #766357;
	border: none;
	vertical-align: middle;
	text-transform: uppercase;
}

.btn:hover,
.btn:focus {
	background-color: #604e43;
	outline: none;
}

.btn:active {
	background-color: #503e33;
	color: rgba(255,255,255, 0.3);
	outline: none;
}

.btn-hotel-search {
	width: 570px;
	padding-top: 32px;
	padding-bottom: 32px;
}


	/* HOTEL SEARCH FORM */

.map {
	position: relative;
}

.hotel-search-form {
	box-sizing: border-box;
	position: absolute;
	top: 0px;
	left: 315px;
	width: 570px;
	margin: 0 auto;
	padding-left: 56px;
	padding-right: 56px;
	padding-top: 55px;
	padding-bottom: 55px;
	background-color: #ffffff;
	color: #000000;
}


.hotel-search-form p {
	line-height: 26px;
	font-weight: bold;
}

.hotel-search-form p label {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	width: 105px;
}

.hotel-search-form input {
	box-sizing: border-box;
	font: inherit;
	text-transform: uppercase;
	background-color: #f2f2f2;
	color: #000000;
	border: 2px solid #f2f2f2;
}

.hotel-search-form input:hover {
	background-color: #ebebeb;
}

.hotel-search-form input:focus {
	background-color: #ffffff;
	outline: none;
	border: 2px solid #ebebeb;
}

.date-checkin input,
.date-checkout input {
	box-sizing: border-box;
	width: 346px;
	height: 38px;
	vertical-align: middle;
	padding-right: 12px;
	padding-left: 12px;
}

.date-checkin,
.date-checkout {
	position: relative;
}

.date-checkin button,
.date-checkout button {
	border: none;
	width: 21px;
	height: 22px;
	background-color: transparent;
	position: absolute;
	right: 20px;
	top: 6px;
	outline: none;
}

.date-checkin svg path,
.date-checkout svg path {
	fill: #a9a9a9;
}

.number-adults,
.number-children {
	display: inline-block;
	vertical-align: top;
}

.number-children label {
	text-align: right;
	padding-right: 28px;
}

.number-adults input,
.number-children input {
	box-sizing: border-box;
	width: 37px;
	height: 38px;
	vertical-align: middle;
	padding-right: 12px;
	padding-left: 12px;
}

.btn-number {
	box-sizing: border-box;
	width: 37px;
	height: 38px;
	vertical-align: middle;
	padding-right: 12px;
	padding-left: 12px;
	font: inherit;
	background-color: #f2f2f2;
	color: #a9a9a9;
	border: none;
}

.hotel-search-form .btn-number:hover,
.hotel-search-form .btn-number:focus {
	color: #000000;
	outline: none;
}

.hotel-search-form .btn-number:active {
	color: #81b3d2;
}

.btn-form-search {
	background-color: #81b3d2;
	width: 458px;
	margin: 0 auto;
	min-height: 58px;
	vertical-align: middle;
	margin-top: 55px;
}

.btn-form-search:hover,
.btn-form-search:focus {
	background-color: #669ec0;
	outline: none;
}

.btn-form-search:active {
	background-color: #5496bd;
	color: rgba(255,255,255,0.3);
}

.btn-calendar:hover path,
.btn-calendar:focus path {
	fill: #000000;
	outline: none;
}

.btn-calendar:active path {
	fill: #81b3d2;
}





	/* HOTELS PAGE */
		/* FILTERS  */

.filters {
	box-sizing: border-box;
	background-color: #555c64; /* temporarily */
	background:
		url(../img/filter-background.jpg) center no-repeat;
	color: #ffffff;
	min-height: 217px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.filters-form {
	display: flex;
}

.filters-form fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.filters-form fieldset ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.filter-option {
	margin-bottom: 30px;
}

.filter-option:last-child {
	margin-bottom: 0;
}

.filters-form fieldset legend {
	font-size: 16px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
}

.filters-infrastructure,
.filters-housing-type {
	width: 240px;
}

.filters-form .filters-housing-type {
	margin-right: 245px;
}

.filters-range {
	width: 330px;
}

.btn-show {
	border: 2px solid #ffffff;
	color: #ffffff;
	background-color: transparent;
	font-weight: normal;
}

.btn-show:hover,
.btn-show:focus {
	background-color: #ffffff;
	color: #000000;
	outline: none;
}

.btn-show:active {
	background-color: rgba(255,255,255,0.5);
	color: (0,0,0,0.5);
	outline: none;
}


		/* FOUND */
.found-sorting {

}

.found-sorting .inner-container {
	display: flex;
	min-height: 86px;
	align-items: center;
	justify-content: space-between;
}

.found-sorting b {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	width: 150px;
}

.found-sorting p,
.found-sorting-item {
	font-size: 12px;
	line-height: 18px;
}

.found-sorting p {
	margin-right: 37px;
}

.found-sorting ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.found-sorting-list {
	flex-grow: 1;
}

.found-sorting-item {
	display: inline-block;
	margin-right: 32px;
}

.found-sorting-item:last-child  {
	margin-right: 0px;
}

.found-sorting-item a {
	color: rgba(0,0,0,0.3);
	border-bottom: 1.2px dotted #81b3d2;
}

.found-sorting-item a[href]:hover,
.found-sorting-item a[href]:focus {
	color: #81b3d2;
	border-bottom: 1.2px dotted #81b3d2;
}

.found-sorting-item a[href]:active {
	color: #000000;
	border-bottom: none;
}

.found-sorting-item .active {
	color: #81b3d2;
	border-bottom: none;
	outline: none;
}

.hotels-buttons {
	display: flex;
	width: 40px;
	flex-direction: row;
}

.btn-sort-up {
	width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-bottom: 11px solid #cacaca;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.btn-sort-down {
	width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-top: 11px solid #cacaca;
	display: inline-block;
	vertical-align: middle;
}

.btn-sort-down.active {
	border-top: 11px solid #81b3d2;
}

.btn-sort-up.active {
	border-bottom: 11px solid #81b3d2;
}

.btn-sort-up[href]:hover,
.btn-sort-up[href]:focus {
	border-bottom: 11px solid #000000;
}

.btn-sort-up[href]:active {
	border-bottom: 11px solid #81b3d2;
}

.btn-sort-down[href]:hover,
.btn-sort-down[href]:focus {
	border-top: 11px solid #000000;
}

.btn-sort-down[href]:active {
	border-top: 11px solid #81b3d2;
}


		/* HOTELS LIST */



.hotel-summary {
	border-top: 1px solid #e5e5e5;
	padding: 30px;
}

.hotel-summary .inner-container {
	display: flex;
	justify-content: space-between;
}
.hotel-summary:last-child {
	border-bottom: 1px solid #e5e5ee;
}

.hotel-summary h3 a {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.hotel-summary h3 a:hover,
.hotel-summary h3 a:focus {
	color: #81b3d2;
}

.hotel-summary h3 a:active {
	color: rgba(0,0,0,0.3);
}

.hotel-summary .hotel-description {
	flex-grow: 1;
	margin-left: 30px;
}

.hotel-summary h3 {
	margin-top: 0;
	margin-bottom: 0;
	position: relative;
	top: -4px;
}

.hotel-summary b {
	display: inline-block;
	font-weight: normal;
	margin: 0;
	margin-top: 4px;
	margin-bottom: 12px;
}

.hotel-description .housing-type {
	min-width: 110px;
	margin-right: 5px;
}

.hotel-summary .inner-container {

}

.hotel-summary img {
}

.btn-details,
.btn-book {
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 16px;
	padding-right: 16px;
}

.btn-details {
	background-color: #81b3d2;
	margin-right: 5px;
}

.btn-details:hover,
.btn-details:focus {
	background-color: #669ec0;
	outline: none;
}

.btn-details:active {
	background-color: #5496bd;
	color: rgba(255,255,255,0.3);
}

.rating-and-stars {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.rating-stars {
	width: 89px;
	height: 18px;
	background-image:
		url(../img/star.svg);
	background-position: top;
	background-repeat: space;
}

.stars-3 {
	width: 65px;
	height: 18px;
}

.stars-2 {
	width: 40px;
	height: 18px;
}

.hotel-rating-number {
	color: #666666;
	background-color: #f2f2f2;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 16px;
	padding-right: 16px;
}

	/*FOOTERS*/


.main-footer {
	position: absolute;
	bottom: 6px;
	left: 0;
	background-color: rgba(255,255,255,0.7);
	width: 100%;
	line-height: 26px;
	display: flex;
	justify-content: space-between;
	min-height: 120px;
	align-items: center;

}

.footer-contacts {
	width: 240px;
	margin-left: 73px;
	text-align: center;
}

.footer-social {
	width: 150px;
}

.footer-social ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.footer-social li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}

.footer-copyright {
	width: 240px;
	text-align: center;
	margin-right: 73px;
	display: flex;
	align-items: center;
}

.footer-copyright span {
	margin-right: 5px;
}

.footer-logo:hover path,
.footer-logo:focus path {
	fill: #81b3d2;
}

.footer-logo:active path {
	fill: #bdbbbc;
}

.inner-footer {
	position: static;
	background-color: #ffffff;
}






















